*{
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
}
section{
	background: url(../img/img-1.jpeg);
	background-size: cover;
	min-height: 100vh;
}
.container{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	overflow: hidden;
	
}
.col-6{
	padding-top: 150px;
	width: 50%;
	float: left;
}
.heading{
	font-size: 25px;
	padding: 20px 0;
}
.heading h1{}
.heading span{
	color: seagreen;
}
.sub-text{}
.text-section{
	list-style: none;
	text-decoration: none;
	padding: 10px 0;
	box-sizing: border-box;
}
.text-section li{
	margin-top: 5px;
}
.icon-spacing{
	margin-right: 5px;
}
.text-section li span{}
.learn-btn{
	display: inline-block;
	padding: 15px 50px;
	border-radius: 50px;
	background-color: #6FBC6C;
	text-decoration: none;
	font-size: 17px;
	text-transform: uppercase;
}
.head{
	text-align: center;
}
.head h1{}
form{

	background-color: #6FBC6C;
	
	border-radius: 5px;
	padding: 50px;
	box-sizing: border-box;
	margin-left: 100px;
	margin-right: 50px;
}
.form-section{
	text-decoration: none;
	list-style: none;
}
.form-section li{
	overflow: hidden;
	margin: 15px 0px;
}
.input-box{
	color: #666;
	width: 100%;
	padding: 10px;
	border: 0;
}
.register-btn{
	padding: 15px;
	width: 100%;
	background-color: #529353;
	border: 0;
	border-bottom: 5px solid #457C43;
	border-radius: 5px;
}
